@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-vnote-bg: #0d0d0d;
  --color-vnote-card: #161616;
  --color-vnote-border: #262626;
  --color-vnote-hover: #1f1f1f;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
